body { margin: 0; overflow: hidden; font-family: sans-serif; }

#overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  pointer-events: none; /* 下のA-Frameをクリック可能に */
}

#instruction {
  position: absolute;
  top: 10%;
  width: 100%;
  text-align: center;
  color: white;
  text-shadow: 0 0 5px black;
}

/* ジョイスティック */
#joystick-container {
  position: fixed;
  display: none; /* 初期は非表示 */
  z-index: 1000;
  pointer-events: none;
}

.joystick.origin {
  position: absolute;
  width: 80px;
  height: 80px;
  background: rgba(255, 255, 255, 0.2);
  border: 2px solid white;
  border-radius: 50%;
  transform: translate(-50%, -50%);
}

.joystick.position {
  position: absolute;
  width: 40px;
  height: 40px;
  background: white;
  border-radius: 50%;
  transform: translate(-50%, -50%);
}